<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script src="lib/browser.min.js"></script>
    <style type="text/css">
      .cssColor{background-color: red}
    </style>
    <link rel="stylesheet" href="css/layout.css">
  </head>
  <body>
  <div id="root"></div>
  <!-- <script src="xuly/bth2.js" type="text/babel"> </script> -->
  <div class="" id="bth3"></div>
  <!-- <script src="xuly/bth3.js" type="text/babel"> </script> -->

  <div id="bth4"></div>
  <script src="xuly/bth4.js" type="text/babel"> </script>
  </body>
</html>
