<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script src="lib/browser.min.js"></script>
    <style type="text/css">
      .cssColor{background-color: red}
    </style>
  </head>
  <body>
  <div>
    nguyễn lê phong hi thật ảo diệu nhé !!!
  </div>
  <div id="root"></div>
  <div id="root2"></div>
  <script src="lib/xuly.js" type="text/babel"> </script>
  </body>
</html>
